.main > div{width: 50%; height: 800px;}
.main .dataViewWrap{position:relative; float: left; overflow: auto; border:1px solid; box-sizing: border-box;}
.main .dataInputWrap{float: right;padding: 0 20px; box-sizing: border-box}
.main .canvasWrap{position: absolute; top:0; left: 0;}